---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Développeur React Passionné</h2>
		<p>Création d'applications web réactives et performantes, avec une compréhension approfondie des hooks et du cycle de vie des composants.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Polyvalence Entrepreneuriale</h2>
		<p>Expérience diversifiée dans le numérique,  de la gestion de SEO à la création de contenu en passant par la création et l'hébergement web, démontrant une adaptabilité et une compréhension globale du secteur.</p>
	</div>
	<div class="stack ga	p-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Apprentissage Constant</h2>
		<p>Détermination inébranlable à développer mes compétences et à exceller dans mon domaine, avec un engagement constant envers l'apprentissage et l'amélioration personnelle et professionnelle.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
